body {
	background: White;
	font-size:25px;
}
body {
	font-family: Arial;
	color:Grey;
}
h1 {
	background-color: pink; 
	text-align:center; 
	border:solid black;
}
h2 {
	background-color: pink; text-align:center;
	border:solid black;
}
.first { 
	 		font-size: 14px;
	 		color: black;
	 		width: 200px;
	 		height: 400px;
	 }

}
.top {
	height: 100pxcs}
.left {
	width: 800px;
 }
 .main {
	margin-left: 800px;
}

